# /c/Python311/python -m venv venv
# source venv/Scripts/activate
# pip freeze # check empty freeze
# pip install -r requirements.txt

langchain
faiss-cpu
unstructured
tiktoken
rich #for console formatting

#openai #==0.27.0
#gradio # ==3.38.0

# after : 
# pip install --no-cache-dir --verbose gradio==3.38.0
# pip install --no-cache-dir --verbose openai==0.27.0.

openai==0.27.0
gradio==3.38.0

# for error "ModuleNotFoundError: No module named 'faiss.swigfaiss_avx2'2 : 
# cd venv/site-packages/faiss
# ln -s swigfaiss.py swigfaiss_avx2.py
